html {
    background-color: rgb(0, 192, 0);
}

body {
    margin: auto;
    text-align: center;
}

canvas {
    border: 1px solid black;
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

i {
    font-size: 50px;
    color: white;
}

#rockBtn {
    margin-right: 15px;
}

#scissorsBtn {
    margin-left: 15px;
}

button {
    border-radius: 110px;
    padding: 15px;
    background-color: rgb(66, 66, 66);
}

button:hover {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}

#playBtn {
    background-color: green;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#playBtn:hover {
    background-color: rgb(0, 153, 0);
    cursor: pointer;
}

span {
    font-size: 30px;
}

.cpuThing {
    margin-right: 20px;
}

.playerThing {
    margin-left: 20px;
}

#score {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 151, 0);
}

#score:hover {
    background-color: rgb(0, 163, 0);
}