html {
    background-color:#F3DE8A;
}

body {
    margin: auto;
    text-align: center;
}

canvas {
    border: 1px solid black;
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 25px;
}

h1 {
    color: rgb(180, 59, 22);
    font-family: 'Courier New', Courier, monospace;
}

i {
    font-size: 50px;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(180, 59, 22);
    font-family: 'Courier New', Courier, monospace;
}

#vsFriend {
    margin-right: 20px;
    padding: 10px;
    background-color: #EB9486; 
}

#vsFriend:hover {
    background-color: #CAE7B9;
    cursor: pointer;
}

#vsCpu {
    margin-right: 20px;
    padding: 10px;
    background-color: #EB9486; 
}

#vsCpu:hover {
    background-color: #CAE7B9;
    cursor: pointer;
}

#rockBtn {
    margin-right: 15px;
}

#scissorsBtn {
    margin-left: 15px;
}

button {
    border-radius: 110px;
    padding: 15px;
    background-color: #EB9486;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(180, 59, 22);
}

button:hover {
    background-color: #CAE7B9;
    cursor: pointer;
}

#playBtn:hover {
    background-color: #CAE7B9;
    cursor: pointer;
}

span {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(180, 59, 22);
}

.cpuThing {
    margin-right: 20px;
}

.playerThing {
    margin-left: 20px;
}

#score {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EB9486;
}

#score:hover {
    background-color: #CAE7B9;
}